version: "3.8"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.eas-api
    command: bash -c 'cd /eas/emergency-alerts-api && . /venv/eas-api/bin/activate && make test'
    depends_on:
      - pg
    networks:
      - test-network

  pg:
    image: postgis/postgis:14-3.5
    platform: linux/amd64
    container_name: postgres-for-api-tests
    restart: always
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      USER: $USER
    volumes:
      - ./postgres:/docker-entrypoint-initdb.d:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - test-network
    ports:
      - 5432:5432

networks:
  test-network:
    driver: bridge
# Running tests in a container
# docker compose -f docker-compose-tests.yml up --force-recreate --exit-code-from api
# docker compose -f docker-compose-tests.yml down

# To start postgres to run tests from local api directory,
# use the following commands:
# cd /eas/emergency-alerts-api && . /venv/eas-api/bin/activate
# docker compose -f docker-compose-tests.yml up --force-recreate -d pg
# . ./environment.sh && make test
# Optional:
# docker compose -f docker-compose-tests.yml down
