# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

aws-opentelemetry-distro==0.14.2
beautifulsoup4==4.11.1
cachetools==5.2.0
celery[sqs]==5.5.3
cffi==1.15.1
click-datetime==0.2
cryptography==44.0.3
Flask-Bcrypt==1.0.1
flask-marshmallow==1.3.0
Flask-Migrate==3.1.0
flask-sqlalchemy==3.0.5
Flask==3.0.2
iso8601==1.1.0
itsdangerous==2.1.2
jsonschema[format]==4.16.0
lxml==5.4.0
marshmallow-sqlalchemy==0.28.1
marshmallow==3.26.2
notifications-python-client==8.0.0
psycopg2-binary==2.9.10
pwdpy==1.0.1
PyJWT==2.5.0
SQLAlchemy==1.4.41
urllib3==2.6.3
Werkzeug==3.1.5

# Package for testing
black==25.1.0
flake8-bugbear==22.9.23
flake8==7.1.1
freezegun==1.2.2
isort==5.12.0
moto==5.1.3
pytest-cov==7.0.0
pytest-env==1.2.0
pytest-mock==3.15.1
pytest-xdist==3.8.0
pytest==9.0.1
requests-mock==1.10.0
