# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

cffi==1.15.1
celery[sqs]==5.5.2
cryptography==44.0.3
Flask-Bcrypt==1.0.1
flask-marshmallow==1.3.0
Flask-Migrate==3.1.0
flask-sqlalchemy==3.0.5
Flask==3.0.2
click-datetime==0.2
iso8601==1.1.0
itsdangerous==2.1.2
jsonschema[format]==4.16.0
marshmallow-sqlalchemy==0.28.1
marshmallow==3.18.0
psycopg2-binary==2.9.10
PyJWT==2.5.0
SQLAlchemy==1.4.41
cachetools==5.2.0
beautifulsoup4==4.11.1
lxml==5.4.0
pwdpy==1.0.1
notifications-python-client==8.0.0

# Package for testing
black==23.3.0
flake8==7.1.1
flake8-bugbear==22.9.23
flaky==3.7.0
isort==5.12.0
moto==5.1.3
pytest==7.1.3
pytest-env==0.6.2
pytest-mock==3.9.0
pytest-cov==4.0.0
pytest-xdist==2.5.0
freezegun==1.2.2
requests-mock==1.10.0
