# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

beautifulsoup4==4.14.3
cachetools==6.2.2
celery[sqs]==5.6.0
cffi==2.0.0
click-datetime==0.4.0
cryptography==46.0.3
Flask-Bcrypt==1.0.1
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
flask-sqlalchemy==3.0.5
Flask==3.0.3
iso8601==2.1.0
itsdangerous==2.2.0
jsonschema[format]==4.25.1
lxml==6.0.2
marshmallow-sqlalchemy==1.4.2
marshmallow==4.1.1
notifications-python-client==10.0.1
psycopg2-binary==2.9.11
pwdpy==1.0.1
PyJWT==2.10.1
SQLAlchemy==2.0.45
Werkzeug==3.1.4

# Package for testing
black==25.12.0
flake8-bugbear==25.11.29
flake8==7.3.0
freezegun==1.5.5
isort==7.0.0
moto==5.1.18
pytest-cov==7.0.0
pytest-env==1.2.0
pytest-mock==3.15.1
pytest-xdist==3.8.0
pytest==9.0.2
requests-mock==1.12.1
